# ========================
# Virtual Environment
# ========================
cpavenv

# ========================
# Cache Files
# ========================
__pycache__

# ========================
# Data
# ========================
data